body {
      position: relative; 
  }
#section1 {padding-top:50px;height:100%;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:100%;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:100%;}

html, body {
    height:100%;
}

.container {
    height:100%;
}
